:root {
	/* ──── Fonts ───────────────────────────────────────────────────────────── */
	/* Could not get fonts to embed into theme file. Fonts must exist on the system to work. */
	--godot-font-main: "??";
	--godot-font-bold: "??";
	--godot-font-code: "JetBrains Mono";
	/* ──────────────────────────────────────────────────────────────────────── */

	/* Base colour that darker and lighter colours are derived from. */
	--godot-base-color: #363d4a;
}


body {
	/* Godot Variables */
	--godot-radius-s: 3px;

	/* ──── Colours ──────────────────────────────────────────────────────────── */
	/* Main */
	--godot-background-primary: #363d4a;
	--godot-background-primary-alt: #21262e;
	--godot-background-secondary: #21262e;
	--godot-background-secondary-alt: #252b34;
	

	
	/* Font */
	--godot-font-color: #cdcfd2;
	--godot-font-color-rgb: 205, 207, 210;
	--godot-font-color-alpha: 1.0;
	--godot-font-color-disabled: #ffffff;
	--godot-font-color-disabled-rgb: 255, 255, 255;
	--godot-font-color-disabled-alpha: 0.349;
	--godot-font-color-focus: #e6e7e8;
	--godot-font-color-focus-rgb: 230, 231, 232;
	--godot-font-color-focus-alpha: 1.0;
	--godot-font-color-hover: #e6e7e8;
	--godot-font-color-hover-rgb: 255, 255, 255;
	--godot-font-color-hover-alpha: 1.0;
	--godot-font-color-hover-pressed: #8fc6f5;
	--godot-font-color-hover-pressed-rgb: 143, 198, 245;
	--godot-font-color-hover-pressed-alpha: 1.0;
	--godot-font-color-placeholder: #ffffff80;
	--godot-font-color-placeholder-rgb: 255, 255, 255;
	--godot-font-color-placeholder-alpha: 0.502;
	--godot-font-color-pressed: #70bafa; /* Used by accent. Should use accent colour in Obsidian settings. */
	--godot-font-color-pressed-rgb: 112, 186, 250;
	--godot-font-color-pressed-alpha: 1.0;
	--godot-font-color-readonly: #ffffff;
	--godot-font-color-readonly-rgb: 255, 255, 255;
	--godot-font-color-readonly-alpha: 0.651;

	/* Icons */
	--godot-icon-color-disabled: #ffffff;
	--godot-icon-color-disabled-rgb: 255, 255, 255;
	--godot-icon-color-disabled-alpha: 0.4;
	--godot-icon-color-focus: #ffffff; /* Obsidian doesn't support HDR values (greater than 1.0 in r, g, or b). Limit to max value. */
	--godot-icon-color-focus-rgb: 255, 255, 255;
	--godot-icon-color-focus-alpha: 1.0;
	--godot-icon-color-hover: #ffffff;
	--godot-icon-color-hover-rgb: 255, 255, 255;
	--godot-icon-color-hover-alpha: 1.0;
	--godot-icon-color-normal: #ffffff;
	--godot-icon-color-normal-rgb: 255, 255, 255;
	--godot-icon-color-normal-alpha: 1.0;
	--godot-icon-color-pressed: #81d7ff;
	--godot-icon-color-pressed-rgb: 129, 215, 255;
	--godot-icon-color-pressed-alpha: 1.0;
	--godot-icon-color-saturation: #ffffff;
	--godot-icon-color-saturation-rgb: 255, 255, 255;
	--godot-icon-color-saturation-alpha: 1.0;


	/* Obsidian Variables */
	/* ──── Foundations ─────────────────────────────────────────────────────── */
	/* Semantic Colours */
	--background-primary: #363d4a;
	--background-primary-alt: #21262E;
	--background-secondary: #21262E;
	--background-secondary-alt: #252B34;
	--background-modifier-hover: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 0.2);
	--background-modifier-active-hover: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 0.2);
	--background-modifier-box-shadow: unset; /* NOTE: Not in Obsidian docs. */
	--background-modifier-border: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 0.3);
	--background-modifier-border-hover: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 0.3);
	--background-modifier-border-focus: var(--color-accent);
	--background-modifier-error-rgb: var(--godot-error-colour-rgb);
	--background-modifier-error: var(--godot-error-colour);
	--background-modifier-error-hover: var(--godot-error-colour);
	--background-modifier-success-rgb: var(--godot-success-colour-rgb);
	--background-modifier-success: var(--godot-success-colour);
	--background-modifier-message: var(--godot-background-tooltip-colour);
	--background-modifier-form-field: var(--background-secondary-alt);
	/* Icons */
	--icon-color: var(--godot-icon-color-normal);
	--icon-color-hover: var(--godot-icon-color-hover);
	--icon-color-active: var(--godot-icon-color-pressed);
	--icon-color-focused: var(--godot-icon-color-focus);
	--icon-opacity: 0.85;
	--icon-opacity-hover: 1.0;
	--icon-opacity-active: 1.0;

	/* Radiuses */
	--radius-s: var(--godot-radius-s);
	--radius-m: var(--godot-corner-radius);
	/* ──────────────────────────────────────────────────────────────────────── */


	/* ──── Components ──────────────────────────────────────────────────────── */
	/* Button */
	--button-radius: var(--radius-m);

	/* Checkbox */
	--checkbox-radius: var(--radius-s);
	--checkbox-marker-color: #1a1a1a;
	--checkbox-color: rgba(var(--mono-rgb-100), 0.75);
	--checkbox-color-hover: rgba(var(--mono-rgb-100), 0.75);
	--checkbox-border-color: rgba(var(--mono-rgb-100), 0.4);
	--checkbox-border-color-hover: rgba(var(--mono-rgb-100), / 0.4);
	--checklist-done-decoration: none;
	--checklist-done-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 1.0);

	/* Dragging */
	/* NOTE: Remove the shadow to match Godot's file drag style. */
	--drag-ghost-background: rgba(0 0 0 / 0.0);
	--drag-ghost-text-color: rgba(var(--mono-rgb-100), 0.7);

	.drag-ghost {
		box-shadow: none;
	}

	/* Dropdowns */
	--dropdown-background-hover: rgba(var(--mono-rgb-100), 0.1);
	

	/* Indentation Guides */
	/* --indentation-guide-width: 1px; */
	--indentation-guide-color: rgba(var(--mono-rgb-100), 0.55);

	/* Modal */
	/* --modal-background: var(--background-primary); */
	/* --modal-border-width: var(--border-width); */
	/* --modal-border-color: var(--background-primary-alt); */
	--modal-radius: var(--radius-m);

	/* Navigation */
	--nav-item-color-hover: var(--godot-tree-font-color-hovered);
	--nav-item-color-active: var(--godot-tree-font-color-selected);
	--nav-item-color-selected: var(--godot-tree-font-color-selected);
	--nav-item-background-selected: hsla(var(--color-accent-hsl), 0.275);
	--nav-item-padding: var(--size-2-1) var(--size-4-1) var(--size-2-1) var(--size-4-6);
	--nav-item-children-padding-start: var(--size-4-1);
	--nav-item-children-margin-start: var(--size-4-3);
	--nav-indentation-guide-width: 0;
	--nav-collapse-icon-color: rgba(var(--godot-icon-color-normal-rgb), 0.45);
	
	.nav-folder-children {
		position: relative;
	}

	.nav-folder-children::before {
		content: "";
		position: absolute;
		width: 1px;
		margin-left: -5px;
		height: calc(100% - ((var(--line-height-tight) * var(--font-text-size)) / 2.0) + 1px);
		background-color: var(--godot-tree-relationship-line-color);
	}
	
	.nav-file, .nav-folder {
		position: relative;
	}

	.nav-file::before, .nav-folder::before {
		content: "";
		position: absolute;
		bottom: calc((var(--line-height-tight) * var(--font-text-size)) / 2.0 + 1px);
		top: calc((var(--line-height-tight) * var(--font-text-size)) / 2.0 + 1px);
		left: -4px;
		height: 1px;
		width: 20px;
		background-color: var(--godot-tree-relationship-line-color);
	}

	.nav-folder::before {
		width: 6px;
	}
	
	/* Popover */

	/* Prompt */
	--prompt-max-height: 80vh;
	/* --prompt-border-width: var(--border-width); */
	--prompt-border-color: var(--color-accent, var(--background-modifier-border-focus));

	.prompt-results {
		border-radius: var(--radius-m);
		background-color: var(--background-secondary);
	}

	/* Slider */
	--slider-thumb-border-width: 0;
	--slider-thumb-height: 16px;
	--slider-thumb-width: 16px;
	/* --slider-thumb-y: -6px; */
	--slider-track-background: var(--godot-slider-color);
	--slider-track-height: 4px;

	/* Tabs */
	--tab-background-active: var(--godot-tab-focus-bg-color);
	--tab-text-color: var(--godot-tab-font);
	--tab-text-color-active: var(--godot-tab-font-selected-color);
	--tab-text-color-focused: var(--godot-tab-font-selected-color);
	--tab-text-color-focused-active: var(--godot-tab-font-hovered-color);
	--tab-text-color-focused-highlighted: var(--godot-tab-font-hovered-color);
	--tab-text-color-focused-active-current: var(--godot-tab-font-selected-color);
	--tab-font-size: var(--godot-tab-font-size);
	--tab-divider-color: transparent;
	--tab-outline-color: unset;
	/* --tab-outline-width: 1px; */
	--tab-curve: 0;
	--tab-radius: 0;
	--tab-radius-active: 0;

	/* Stacked Tabs */
	--tab-stacked-pane-width: 100%;
	--tab-stacked-shadow: var(--godot-tab-focus-shadow);
	/* Text Input */
	--input-height: 20px;
	--input-radius: var(--godot-line-edit-normal-corner-radius);
	--input-border-width: var(--input-border-width);
	--input-border-width-focus: var(--godot-line-edit-focus-border-width);
	/* ──────────────────────────────────────────────────────────────────────── */


	/* ──── Editor ──────────────────────────────────────────────────────────── */
	/* Bases */
	/* --bases-header-border-width: 0 0 1px 0; */
	/* --bases-table-header-weight: var(--font-weight); */
	/* --bases-table-header-background: var(--background-primary); */
	/* --bases-table-border-color: var(--table-border-color); */
	/* --bases-table-column-border-width: 1px; */
	/* --bases-table-row-border-width: 1px; */
	/* --bases-table-cell-background-disabled: var(--background-primary-alt); */
	/* --bases-cards-background: var(--background-primary); */
	/* --bases-cards-cover-background: var(--background-primary-alt); */
	/* --bases-cards-border-width: 1px; */
	/* --bases-cards-shadow: 0 0 0 1px var(--background-modifier-border); */
	/* --bases-cards-shadow-hover: 0 0 0 1px var(--background-modifier-border-hover); */

	/* Blockquote */
	--blockquote-border-thickness: 6px;
	--blockquote-font-style: italic;
	--blockquote-background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);

	/* Callout */
	--callout-border-width: 2px;
	--callout-border-opacity: 1;
	--callout-padding: var(--size-4-4) var(--size-4-4) var(--size-4-4) var(--size-4-6);
	--callout-radius: var(--radius-m);
	--callout-blend-mode: normal;

	/* Code */
	/* --code-background: var(--background-primary-alt); */
	--code-normal: var(--text-normal);
	--code-comment: rgba(var(--godot-font-color-rgb), 0.5);
	--code-function: #66e6ff; /* Use: #57b3ff when the function is being called from a variable. */
	--code-important: #ffb373;
	--code-keyword: #ff7085;
	--code-operator: #abc9ff;
	--code-property: var(--text-normal);
	--code-punctuation: #abc9ff;
	--code-string: #ffeda1;
	--code-tag: var(--text-normal);
	--code-value: #a1ffe0;

	/* File */
	/* --file-header-border: var(--border-width) solid transparent; */

	/* Inline Title */
	--inline-title-color: var(--color-accent);
	--inline-title-weight: var(--h1-weight);

	/* Link */
	--link-color-hover: var(--text-accent);
	--link-decoration: none;
	--link-external-decoration: none;

	/* List */
	--list-marker-color: var(--godot-font-color);
	--list-bullet-size: 0.55em;

	/* Properties */
	--metadata-property-padding: 0 10px;
	--metadata-property-radius: var(--godot-radius-s);
	--metadata-property-radius-hover: var(--godot-radius-s);
	--metadata-property-radius-focus: var(--godot-radius-s);
	--metadata-label-text-color: var(--color-accent);

	/* Table */
	/* --table-background: transparent; */
	--table-border-width: 0;
	--table-header-background: var(--background-primary-alt);
	--table-header-background-hover: var(--background-primary-alt);
	--table-header-border-width: 0;
	--table-header-weight: 700;
	/* --table-column-alt-background: var(--table-background); */
	/* --table-row-alt-background: var(--table-background); */
	--table-selection-border-width: 4px;
	/* --table-selection-border-radius: 4px; */
	/* --table-cell-vertical-alignment: top; */
	--table-add-button-background: hsla(var(--color-accent-hsl), 0.1);
	--table-add-button-border-width: 2px;

	/* Tag */
	--tag-color-hover: var(--godot-font-color-hover);
	--tag-background: hsla(var(--interactive-accent-hsl), 0.3);
	--tag-background-hover: hsla(var(--interactive-accent-hsl), 0.8);
	--tag-border-color: transparent;
	--tag-border-color-hover: var(--color-accent);
	--tag-padding-y: 0.35em;
	/* ──────────────────────────────────────────────────────────────────────── */


	/* ──── Window ──────────────────────────────────────────────────────────── */
	/* Divider */
	/* --divider-color-hover: var(--interactive-accent); */
	--divider-width: 0;

	/* Ribbon */
	/* --ribbon-background-collapsed: var(--background-primary); */

	/* Scrollbar */
	/* --scrollbar-width: 12px; NOTE: Not in Obsidian docs. */
	/* --scrollbar-height: 12px; NOTE: Not in Obsidian docs. */
	--scrollbar-border-width: 3px 3px 3px 2px; /* NOTE: Not in Obsidian docs. */
	/* --scrollbar-radius: var(--radius-l); NOTE: Not in Obsidian docs. */
	--scrollbar-active-thumb-bg: rgba(249, 249, 249, 1.0);
	--scrollbar-bg: rgba(255, 255, 255, 0.082); /* BUG: Obsidian makes it transparent without anyway to change it. */
	--scrollbar-thumb-bg: rgba(255, 255, 255,  0.29);

	:not(.native-scrollbars) ::-webkit-scrollbar {
		width: 8px; /* Width of the scrollbar */
		background-color: rgba(255, 255, 255, 0.082);
	}

	:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
		border: 12px solid rgba(255, 255, 255, 0.29);
	}


	/* Status Bar */
	--status-bar-border-width: 0;
	--status-bar-position: inline;
	/* --status-bar-radius: var(--radius-m) 0 0 0; */
	/* ──────────────────────────────────────────────────────────────────────── */


	/* ──── Plugins ─────────────────────────────────────────────────────────── */
	/* Menu */
	/* --menu-padding: var(--size-2-3); */
	/* --menu-shadow: var(--shadow-s); */
	/* --menu-radius: var(--radius-m); */
	/* --menu-border-color: var(--background-modifier-border-hover); */
	/* --menu-border-width: 1px; */

	/* Font */

	/* Frame */
	/* --frame-right-space: 126px; */

	/* Misc */
	--highlight-mix-blend-mode: normal;
	/* ──────────────────────────────────────────────────────────────────────── */
}

.theme-dark {
	/* ──── Godot Colours ───────────────────────────────────────────────────── */
	/* Godot Extended Colours (Dark) */
	--godot-color-red-rgb: 256, 120, 107;
	--godot-color-red: #ff786b;
	--godot-color-orange-rgb: 255, 178, 115;
	--godot-color-orange: #ffb373;
	--godot-color-yellow-rgb: 255, 222, 102;
	--godot-color-yellow: #ffde66;
	--godot-color-green-rgb: 115, 242, 128;
	--godot-color-green: #73f280;
	--godot-color-cyan-rgb: 66, 255, 194;
	--godot-color-cyan: #42ffc2;
	--godot-color-blue-rgb: 20, 125, 250;
	--godot-color-blue: #027aff;
	--godot-color-purple-rgb: 163, 163, 245;
	--godot-color-purple: #a3a3f5;
	--godot-color-pink-rgb: 255, 140, 204;
	--godot-color-pink: #ff8ccc;

	/* Error/Success/Warning Colours */
	--godot-error-color-rgb: var(--godot-color-red-rgb);
	--godot-error-color: var(--godot-color-red);
	--godot-success-color-rgb: var(--godot-color-green-rgb);
	--godot-success-color: var(--godot-color-green);
	--godot-warning-color-rgb: var(--godot-color-yellow-rgb);
	--godot-warning-color: var(--godot-color-yellow);
	/* ──────────────────────────────────────────────────────────────────────── */


	/* ──── Overrides ───────────────────────────────────────────────────────── */
	/* Extended Colours */
	--color-red-rgb: var(--godot-color-red-rgb);
	--color-red: var(--godot-color-red);
	--color-orange-rgb: var(--godot-color-orange-rgb);
	--color-orange: var(--godot-color-orange);
	--color-yellow-rgb: var(--godot-color-yellow-rgb);
	--color-yellow: var(--godot-color-yellow);
	--color-green-rgb: var(--godot-color-green-rgb);
	--color-green: var(--godot-color-green);
	--color-cyan-rgb: var(--godot-color-cyan-rgb);
	--color-cyan: var(--godot-color-cyan);
	--color-blue-rgb: var(--godot-color-blue-rgb);
	--color-blue: var(--godot-color-blue);
	--color-purple-rgb: var(--godot-color-purple-rgb);
	--color-purple: var(--godot-color-purple);
	--color-pink-rgb: var(--godot-color-pink-rgb);
	--color-pink: var(--godot-color-pink);

	--text-normal: var(--godot-font-color);
	--text-muted: var(--godot-font-color);
	--text-faint: rgba(var(--godot-font-color-disabled-rgb), var(--godot-font-color-disabled-alpha));
	--text-error: var(--godot-error-color);
	--text-warning: var(--godot-warning-color);
	--text-success: var(--godot-success-color);

	--border-width: var(--godot-width-border-focus);

	/* Canvas */
	--canvas-dot-pattern: var(--background-secondary-alt);
	/* ──────────────────────────────────────────────────────────────────────── */
}